<!DOCTYPE html>
<html>
<head>
  <title>Forget Password Email</title>
</head>
<body>
  <h1>Forget Password Email</h1>
  <p>Hello <%= userName %>,</p>
  <p>Your one-time password (OTP) is: <%= otp %></p>
  <p>Please use this OTP to reset your password.</p>
</body>
</html>